
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/page.style/home-StyleSheet.css" rel="stylesheet" />
<link href="~/Content/page.style/Shop-StyleSheet.css" rel="stylesheet" />

<div>
    <div class="container">
        <section id="home_page">
            <img src="@Url.Content("~/Pictures/PictureHome/background.jpg")" />
            <!--product-->
            <seaction id="hero">
                <h1>BLACK FRIDAY</h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Hinh2-->
            <img src="@Url.Content("~/Pictures/PictureHome/background1.jpg")" />
            <!--product-->
            <seaction id="hero">
                <h1>NEW ARRIVALS</h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Hinh 3-->
            <img src="@Url.Content("~/Pictures/PictureHome/background2.jpg")" />
            <!--product-->
            <seaction id="hero">
                <h1>BESTSELLERS</h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Hinh 4-->
            <img src="@Url.Content("~/Pictures/PictureHome/background3.jpg")" /><!--product-->
            <seaction id="hero">
                <h1>SEASONAL COLLECTIONS</h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Hinh5-->
            <img src="@Url.Content("~/Pictures/PictureHome/background4.jpg")" />
            <!--product-->
            <seaction id="hero">
                <h1>LIMITED EDITION</h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Hinh 6-->
            <!--product-->
            <seaction id="hero">
                <h1>BRAND STORY</h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Hinh 8-->
            </section><img src="@Url.Content("~/Pictures/PictureHome/background5.jpg")" />
            <!--product-->
            <seaction id="hero">
                <h1>SALE</h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Hinh 7-->
            <img src="@Url.Content("~/Pictures/PictureHome/background6.jpg")" />
            <!--product-->
            <seaction id="hero">
                <h1>UNISEX  </h1>
                <hr />
            </seaction>
            <section id="product1">
                <div class="pro-container">
                    <div class="pro">
                        <img src="~/pictures/tshirt/binh-tan-back.jpg">
                        <div class="des">
                            <h5>Bình Tân Embroidered Polo Black</h5>
                            <div class="produce-price">
                                <span class="new-price"> 334.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-15%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-back.jpg">
                        <div class="des">
                            <h5>Striped Soccer Jersey Baby Blue White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 299.900₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-25%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-den-01-font.jpg">
                        <div class="des">
                            <h5>Wild West Fade Relaxed Tan</h5>
                            <div class="produce-price">
                                <span class="new-price">276.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="pro">
                        <img src="~/pictures/tshirt/ao-trang-01-back.jpg">
                        <div class="des">
                            <h5>Hanoi Lover T-Shirt White</h5>
                            <div class="produce-price">
                                <span class="new-price"> 315.999₫</span>
                                <span class="old-price">395.000₫</span>
                                <span class="giamgia">-20%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
